@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@450&display=swap');

:root {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
